@page "/todo"
@inject BlazorTodoApp.Client.Services.TodoService todoService

<main role="main" class="container">

    <h3>Todo App</h3>

    <BlazorTodoApp.Client.Pages.Todo.TodoForm TodoAdded="@AddTodo"></BlazorTodoApp.Client.Pages.Todo.TodoForm>
    <BlazorTodoApp.Client.Pages.Todo.TodoList TodoModels="@todoModels" TodoUpdated="UpdateTodo"></BlazorTodoApp.Client.Pages.Todo.TodoList>

</main><!-- /.container -->


@code {

    protected override async Task OnInitializedAsync()
    {
        todoModels = await todoService.GetTodos();
    }

    public List<TodoDto> todoModels = new List<TodoDto>();

    private async Task AddTodo(TodoDto todoModel)
    {
        var newModel = await todoService.AddTodo(todoModel);
        todoModels.Insert(0, newModel);
    }

    private async Task UpdateTodo(TodoDto todoModel)
    {
        var updatedModel = await todoService.UpdateTodo(todoModel);
        var existingModel = todoModels.First(x => x.Id == updatedModel.Id);
        var index = todoModels.IndexOf(existingModel);

        if (index != -1)
        {
            todoModels[index] = updatedModel;
        }

        todoModels = todoModels.OrderBy(x => x.Done).ToList();
    }
}
}